@import-normalize;
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&family=Montagu+Slab:wght@700&display=swap');

/* font-family: 'Inter', sans-serif;
font-family: 'Montagu Slab', serif;*/

:root {
	/* colors */
	--black-cl: #101010;
	--light-black-cl: #282828;
	--dark-gray-cl: #636363;
	--gray-cl: #adadad;
	--white-cl: #ffffff;

	/* size */

	/* animat */
}

body {
	margin: 0;
	font-family: 'Inter', sans-serif;
}

ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
}

img {
	display: block;
	max-width: 100%;
	height: auto;

	object-fit: cover;
	object-position: center;
}
