@import-normalize;
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Montagu+Slab:wght@400;500;700&display=swap');

:root {
	/* colors */
	--color-black: #101010;
	--color-light-black: #282828;
	--color-dark-gray: #636363;
	--color-gray: #adadad;
	--color-white: #ffffff;

	/* fonts */
	--font-main: 'Inter', sans-serif;
	--font-secondary: 'Montagu Slab', serif;

	/* animat */
	--animat: 0.5s ease-in-out;
}

body {
	margin: 0;
	font-family: var(--font-main);
}

ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
}

img {
	display: block;
	max-width: 100%;
	height: auto;

	object-fit: cover;
	object-position: center;
}

a {
	text-decoration: none;
	color: currentColor;
}
